body{
	font-size: 16px;
	color: #fff;
	background-color: #EDC7B7 ;
	font-family: sans-serif;
	margin: 0;
}

#header-nav{
	background-color: #EEE2DC;
	border-radius: 0;
	border: 0;
	margin: 0;
}
.navbar-brand{
	padding-top: 25px;
}

.navbar-brand a{
   font-family: sans-serif;
   color: #557c3e;
   font-size: 2em;
   text-transform: uppercase;
   font-weight: bold;
   text-shadow: 1px 1px 1px #222;
   margin-top: 0;
   margin-bottom: 10px;
   margin-left: 20px;
   line-height: 2.5;
}
.navbar-brand a:hover, .navbar-brand a:focus, .navbar-brand a:link {
	text-decoration: none!important;
}
a.navbar-brand{
	font-size: 40px;
}
.row{
	width: 100%;
}
h1{
	text-align: center;
	font-size: 3em;
	text-transform: uppercase;
	margin-top: 15px;
	margin-bottom: 20px;
	font-weight: bold;
	height: 35px;
	color:whitesmoke;
}
 #chicken{
background-color: #DCDCDC; 
}

#chicken h2{
	text-align: center;
	color: black;
	font-weight: bold;
}
.container{
	padding: 10px;
	vertical-align: middle;
}
#myNavbar {
	margin-top: 10;
}
#myNavbar a {
	color: #E5E4E2;
	text-align: center;
	font-size: 1.8em;
}
#myNavbar a:hover {
	background: 	#0000ff;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid #61122f;
}
.navbar-header button.navbar-toggle {
	clear: both;
}



/********** Large devices only **********/
@media (min-width: 992px) {
  /* End Header */
   #chicken{
	padding-top: 10px;
	margin-right: 15px;
	font-size: 20px;
	color: black ;
	text-align: center;
}
}

/********** Tablet devices only **********/
@media (min-width: 768px) and (max-width: 991px) {
	#chicken{
	padding-top: 10px;
	margin: 15px;
	font-size: 20px;
	color: black;
	text-align: center;
}
}

/********** Mobile devices only **********/
@media (max-width: 767px) {
  /* Header */
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
  }
  .navbar-brand h1 { /* Restaurant name */
    padding-top: 10px;
    font-size: 5vw; /* 1vw = 1% of viewport width */
  }

  #collapsable-nav a { /* Collapsed nav menu text */
    font-size: 1.2em;
}
  
  /* End Header */
  #chicken{
	padding-top: 10px;
	margin: 25px;
	font-size: 30px;
	color: black;
	text-align: center;
	}
}